/*index.html*/
   header nav a{
    color: #f7b538;
    text-decoration: none;
    font-size: 24px;
    border: #f7b538;
    border-style: double;
    background-color: #c32f27;
    padding:8px;
    width: fit-content;
    height: fit-content;
    transition: .5s;
     }

    
     header nav a:hover{
       transition: .3s;
       width: fit-content;
       padding: 11px;
       height: 60px;
       color: #f7b538;
       background-color: #780116;
     }
     
header{
  text-align: left;
  padding: 2px;
  margin-bottom: 1rem;
  }


  nav{
    position: relative;
    display: flex;
    justify-content: space-between;
  }

 .header__logo{
   width: 8rem;
   height: 8rem;
   position: relative;
   left: 36.5em;
}




.anuncio__covid{
  border-bottom: 2px #780116;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 5px;



.texto__anuncio{
  font-size:medium;
  background: rgb(120,1,22);
  background: -moz-linear-gradient(320deg, rgba(120,1,22,1) 0%, rgba(195,47,39,1) 20%, rgba(247,181,56,1) 49%, rgba(195,47,39,1) 80%, rgba(120,1,22,1) 100%);
  background: -webkit-linear-gradient(320deg, rgba(120,1,22,1) 0%, rgba(195,47,39,1) 20%, rgba(247,181,56,1) 49%, rgba(195,47,39,1) 80%, rgba(120,1,22,1) 100%);
  background: linear-gradient(320deg, rgba(120,1,22,1) 0%, rgba(195,47,39,1) 20%, rgba(247,181,56,1) 49%, rgba(195,47,39,1) 80%, rgba(120,1,22,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#780116",endColorstr="#780116",GradientType=1);
}
}

.titulo__sobre{
top: 2.5rem;
left: 0.5rem;
position:relative;
color: black;
font-size: x-large;
font-weight: 800;


}

.titulo__participa{
top: -44.5rem;
left:45rem;
position:relative;
color: black;
font-size: x-large;
font-weight: 800;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: initial;
  position: relative; 
  padding-bottom: 16rem;
  color: black;
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

.textos__sobreYparticipa{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 6rem;
  
}

 p{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 6px #f7b538;
  border-style: double;
  padding: 14px;
  line-height: 2rem;
  background-color: #c32f27;
  margin-top: 2.5rem;

 }

 .main__participaYgana{
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
 }
 

 section .main__basesYcondiciones{
   width: fit-content;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 3rem;
   background-color: #f7b538;

 }

.img-carrusel{
  height: 50vh;
  object-fit: cover;
}



footer{
  position: relative;
  bottom: -14rem;
  width: 100%;
  
}

footer div a i{
  position: relative;
  left: 33rem;
  top: -10rem;
  color: #780116;
  font-size: 6rem;
  display: flex;
  justify-content:space-around;

}

.botones__index{
  position: relative;
  left: 33rem;
  top:-10rem;
  
}

/*productos.html*/
.cuerpo__pro{
  display: grid;
  align-items: center;
}

.linea1{
  margin-top: 1rem;
  margin-bottom: -1rem;
  width: 85rem;
  height: 6px;
  background-color: #f7b538;
  

}
.linea2{
  margin-top: 2rem;
  width: 85rem;
  height: 6px;
  background-color: #f7b538;

}

.primera__variedad{
 width: fit-content;
 margin-left: 32rem;
 margin-top: 6rem;
 margin-bottom: 2rem;
 padding-left: -3rem;
 border: 6px solid #f7b538;
 color: black;
 background-color: #c32f27;
 
}

.segunda__variedad{
 
  width: fit-content;
  margin: 5px;
  margin-top: 4rem;
  margin-left: 33rem;
  margin-bottom: 3rem;
  padding-left: rem;
  border: 6px solid #f7b538;
  color: black;
  background-color: #c32f27;

}

.redes__productos{
position: relative;
top: -3rem;

}

.politicas__productos{
  position: relative;
  top:-12.5rem;
  left: 32rem;
}

ul li{
  width: fit-content;
  display: flex;
  position: relative;
  left: 33rem;
list-style-type: none;
padding: 1.5rem; 
background-color: #780116;
color: #f7b538;
margin-top: 0.6rem;
}


/*contacto.html*/
div form {
  margin-top: 5rem;
}

label{
  display: flex;
  position: relative;
  margin-left: 2rem;
  left: 16rem;
  color:#f7b538;
  
}

input{ 
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 18rem;
  background-color: #780116;
  font-size: x-large;
  border-radius: 1rem;
}


.btn.btn-danger{
  position: relative;
  left: 37rem;
  top: 2rem;
  border-radius: 1rem;
}

  

.botones__Politicas{
  position: relative;
  display: block;
  top: 2rem;
  left: 30rem;
  width: 65%;
}

.piePagina__logoredes{
  position:relative;
  left: -2rem;
  top:11rem;
}


/*sucursales.html*/

.donde__estamos{

  margin-top: 8rem;
  position: relative;
  width:fit-content;
  height: fit-content;
  align-content: center;
  margin-left: 4rem;
  top:-2rem;
  font-size: 2rem;
  padding: 6px;
  border:#f7b538;
  border-style:double;
  background-color:#c32f27;
  color:#f7b538;
  
}

iframe{
position: relative;
left: -6rem;
top: 2rem;
height: 80vh;
}


.donde__estamos2{
  margin-top: -2rem;
  position: relative;
  width: fit-content;
  left: 41rem;
  top:-36rem;
  font-size: 2rem;
  padding: 9px;
  border-style:double;
  background-color:#c32f27;
  color:#f7b538;
}

.como__llegar{
  width: 100%;
  position: relative;
  left: 35rem;
  top:-32rem;
}

.pie__sucursales{
  position:relative;
  top:42rem;

}



.politicas__sucursales{
  width: fit-content;
  display: block;
  position: relative;
  left: 33rem;
  top: 32rem;
  
  
}

.cuerpo__sucursales{
  width: auto;
  height: 5px;
  border-bottom: 0em;
}

/*nosotros.html*/

.sobre__nosotros{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
  left: 0.5rem;
  top: 2rem;
  font-size: medium;
}

.redes__nosotros{
  display:block;
  position: relative;
  top:2rem;
}

.politicas__nosotros{
position: relative;
top: -8rem;
left: 33rem;
}

/*media queries*/


   





  




